@model PhilosopherPeasant.Models.Contributor
    ﻿
@{
    ViewData["Title"] = "Contributor Create";
}

<h2>Edit Contributor</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ContributorId)
    @Html.HiddenFor(model => model.ApplicationUserId)

    <p>@Html.EditorFor(model => model.Name)</p>

    <p>@Html.EditorFor(model => model.PublicEmail)</p>

    <p>@Html.EditorFor(model => model.Bio)</p>

    <p>@Html.EditorFor(model => model.ImageLink)</p>

    <p>@Html.DropDownListFor(model => model.UserName, new SelectList((System.Collections.IEnumerable) ViewData["Users"], "UserName", "UserName"))</p>
    
    <p>@Html.DropDownListFor(model => model.Role, new SelectList((System.Collections.IEnumerable)ViewData["Roles"], "Name", "Name"))</p>
    
    <input type="submit" value="Edit Contributor" />
}

@Html.ActionLink("Back to List", "Index")
