@model PhilosopherPeasant.Models.Contributor
    ﻿
@{
    ViewData["Title"] = "Contributor Create";
}

<h2>Edit Profile</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ContributorId)
    @Html.HiddenFor(model => model.ApplicationUserId)
    @Html.HiddenFor(model => model.UserName)
    @Html.HiddenFor(model => model.Role)

    <p>@Html.EditorFor(model => model.Name)</p>

    <p>@Html.EditorFor(model => model.PublicEmail)</p>

    <p>@Html.EditorFor(model => model.Bio)</p>

    <p>@Html.EditorFor(model => model.ImageLink)</p>


    <input type="submit" value="Edit Profile" />
}

