﻿@{
    ViewData["Title"] = "";
}

@model PhilosopherPeasant.Models.Article
<h2>Create Article</h2>


@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Title)
    @Html.EditorFor(model => model.Title)

    @Html.LabelFor(model => model.Abstract)
    @Html.EditorFor(model => model.Abstract)

    @Html.LabelFor(model => model.Body)
    @Html.EditorFor(model => model.Body)

    <input type="submit" value="Add new task" />
}

@Html.ActionLink("Back to List", "Index")
