@model PhilosopherPeasant.Models.Article

@{
    ViewData["Title"] = "Philosopher Peasant";
}

<script type="text/javascript">
    $(document).ready(function () {
        //Wiki Insert
        $('.clickable').on("click", function () {
            var thisId = $(this).attr("id");
            var thisEntry = thisId.split("-")[0];
            var outputDiv = thisId.replace("button", "output");
            $.ajax({
                type: 'GET',
                data: {entry: thisEntry},
                url: '@Url.Action("Wiki", "Articles")',
                success: function (result) {
                    $('#'+outputDiv).html(result);
                }
            });//end ajax
        });// end Wiki Insert
    }); //end document ready
</script>


<div>
    <h2>@Model.Title</h2>
    <p>@Model.PublishDate</p>
    <p>@Html.Raw(Model.Body)</p>
    <p>@Model.Contributor.Name</p>
</div>
