@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model PhilosopherPeasant.Models.Article
<h2>Edit Article</h2>


@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ArticleId)

    @Html.LabelFor(model => model.Title)
    @Html.EditorFor(model => model.Title)

    @Html.LabelFor(model => model.Body)
    @Html.EditorFor(model => model.Body)

    @Html.LabelFor(model => model.PublishDate)
    @Html.EditorFor(model => model.PublishDate)

    @Html.LabelFor(model => model.ContributorId, "Contributor")
    @Html.DropDownList("ContributorId")

    <input type="submit" value="Add new task" />
}

@Html.ActionLink("Back to List", "Index")
